* {
  box-sizing: border-box;
}

.inputSection {
  display: flex;
  align-items: center;
  width: 300px;
}

dsg-input {
  padding-right: 10px;
  width: 100%;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  height: 100vh;
  padding-top: 40px;
}

.weatherWrapper {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
