<div class="wrapper">
  <div class="inputSection" >
    <dsg-input
      id="city-custom-input-element"
      inputId="city-input"
      [cityProp]="cityInput"
      >
    </dsg-input>
    <dsg-input-button [buttonFunction]="onSelect" buttonId="city-input-button"></dsg-input-button>
  </div>
    <div *ngIf="currentConditions" class="weatherWrapper">
      <dsg-info-card
        [cardTitle]="queryCity"
        cardwidth="300px"
        [heading]="currentConditions.temp_C + '℃'"
        [imageUrl]="currentConditions.weatherIconUrl[0].value"
        [text]="currentConditions.weatherDesc[0].value"
      >
      </dsg-info-card>
    </div>
</div>
